/*typoghraphy*/
body {
	font-family: 'PT Sans';
}
h2 {
	font-size: 18px;
	line-height: 18px;
	text-transform: uppercase;
	color: #464646;
	font-family: PT sans;
}
h3 {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
}
a:hover {
	color: #125394;
}
.txt-blue {
	color: #125394;
}
.txt-gray {
	color: #464646;
}
.fs-16 {
	font-size: 16px;
	line-height: 18px;
}
.fs-18 {
	font-size: 18px;
	line-height: 18px;
}
.fs-22 {
	font-size: 22px;
	line-height: 22px;
}
/* helpers */
.sprite {
	background: url(../images/sprites.png) no-repeat;
}
/************************/
.clearfloat {
	clear:both;
	float:none;
	height:0px;
	position:relative;
	display:block;
	zoom:1;
	overflow:hidden;
	line-height:0px;
	font-size:0px;
}
*+html .clearfloat { zoom:1; }
*:first-child + html .clearfloat {
	min-height: 1%;
	zoom:1;
}
/****/
.page-container {
    position: relative;
	overflow: hidden;
	min-width: 990px;
    min-height: 100%;
    height: auto;
	margin: 0 auto;
    background: url("../images/pattern.gif") repeat;
}
.navbar {
	margin: 0;
	padding: 0;
}
#main-navbar {
	top: 32px;
}
#main-navbar .container {
	position: relative;
	width: 100%;
	height: 42px;
	background-color: #3e799f;
}
#main-navbar .nav-collapse {
	position: relative;
	margin: 0 auto;
	width: 980px;
}
#main-navbar .nav {margin-left: -23px;}
#main-navbar a {
	margin: 7px auto;
	padding: 0 23px;
	font-size: 18px;
	line-height: 28px;
	font-family: PT Sans;
	font-weight: bold;
	color: #fff;
	text-shadow: none;
	border-right: 1px solid #fff;
}
#main-navbar li:first-child {display: none;}
#main-navbar li:last-child a {border-right: none;}
#main-navbar.navbar .nav > .active > a,
#main-navbar.navbar .nav > .active > a:hover,
#main-navbar.navbar .nav > .active > a:focus {
	background: none;
	box-shadow: none;
}
#main-navbar .phone {
	position: relative;
	margin-top: 10px;
	float: right;
	font-family: PT Sans;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	letter-spacing: -1px;
}
#main-navbar .code {
	font-family: PT Sans;
	font-size: 18px;
	color: #e3e391;
}
#main-navbar:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	-webkit-box-shadow:  0px 0px 14px 14px rgba(169, 194, 216, 0.9);
    box-shadow:  0px 0px 14px 14px rgba(169, 194, 216, 0.9);
	z-index: -1;
}
#main-navbar:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	-webkit-box-shadow:  0px 0px 14px 14px rgba(169, 194, 216, 0.9);
    box-shadow:  0px 0px 14px 14px rgba(169, 194, 216, 0.9);
	z-index: -1;
}
#main-navbar .phone:before {
	content: '';
	position: absolute;
	bottom: 4px;
	left: -22px;
	background: url(../images/sprites.png) no-repeat;
	background-position: -236px -135px ;
	width: 8px;
	height: 14px;
}

.page-container {
	width: 100%;
}
.page-container section {
	position: relative;
	width: 100%;
}
.page-container section .container {
	position: relative;
	width: 980px;
	height: 100%;
	margin: 0 auto;
}
#just-think {
	position: relative;
	margin-top: 74px;
	height: 410px;
}
#just-think:after {
	content: '';
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: 8px;
	background: url(../images/bg_bottom_main.png) repeat-x top left;
}
.main-img {
	position: absolute;
	top: -43px;
	right: 6%;
	width: 651px;
	height: 492px;
	background: url(../images/main-pic.png) no-repeat;
}
.logo {
	position: absolute;
	top: 82px;
	left: 0;
	width: 391px;
	height: 108px;
	background: url(../images/sprites.png) no-repeat -0px -0px;
}
.slogan {
	position: absolute;
	bottom: 36px;
	left: 82px;
	font-size: 26px;
	line-height: 26px;
	letter-spacing: -1px;
}
.carousel {
	position: relative;
	margin-top: 230px;
	height: 24px;
	width: 500px;
}
.carousel-indicators {
	top: 40px;
	left: 80px;
}
.carousel-indicators li {
	border: 1px solid #e7e7e7;
	width: 17px;
	height: 17px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
	border-radius: 16px;
	cursor: pointer;
}
.carousel-indicators li.small {
	margin-top: 2px;
	width: 13px;
	height: 13px;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.carousel-indicators li.big {
	margin-top: -2px;
	width: 22px;
	height: 22px;
	-webkit-border-radius: 22px;
	-moz-border-radius: 22px;
	border-radius: 22px;
}
.carousel-indicators li.active span,
.carousel-indicators li:hover span {
	background: #287abe;
}
.carousel-indicators span {
	display: block;
	width: 13px;
	height: 13px;
	background-color: #eda835;
	border: 2px solid #ffffff;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
}
.carousel-indicators .small span {
	display: block;
	width: 10px;
	height: 10px;
	background-color: #eda835;
	border: 2px solid #ffffff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.carousel-indicators .big span {
	display: block;
	width: 19px;
	height: 19px;
	background-color: #eda835;
	border: 2px solid #ffffff;
	-webkit-border-radius: 19px;
	-moz-border-radius: 19px;
	border-radius: 19px;
}
.carousel-inner > .item {
	height: 60px;
	width: 500px;
}
.carousel-control {display: none;}
.star-1 {
	position: absolute;
	top: 35px;
	left: 225px;
	width: 32px;
	height: 37px;
	background: url(../images/star-1.png) no-repeat top left;
}
.star-2 {
	position: absolute;
	top: 266px;
	left: -30px;
	width: 32px;
	height: 37px;
	background: url(../images/star-2.png) no-repeat top left;
}
.star-3 {
	position: absolute;
	bottom: 8px;
	left: 326px;
	width: 32px;
	height: 37px;
	background: url(../images/star-3.png) no-repeat top left;
}
#benefits {
	background: #fff;
	overflow: hidden;
}
#benefits .container {
	position: relative;
	margin: 64px auto 52px;
	padding-bottom: 34px;
	width: 976px;
	border: 1px dashed #b5b5b5;
}
#benefits h2 {
	position: absolute;
	top: -18px;
	left: 70px;
	padding: 0 10px;
	background: #FFF;
}
.icon-cut {
	position: absolute;
	top: 59px;
	right: -9px;
	width: 17px;
	height: 22px;
	background-position: -236px -110px ;
}
#benefits .left-side {
	position: relative;
	float: left;
	margin-left: 82px;
	width: 394px;
}
#benefits .text {
	position: relative;
}
#benefits .text:first-child {
	width: 100%;
	margin-top: 48px;
	margin-bottom: 22px;
	padding-bottom: 13px;
	border-bottom: 1px solid #b5b5b5;
}
#benefits .text.fs-22 {
	margin-top: 14px;
}
#benefits .right-side {
	position: relative;
	margin-left: 394px;
}
#benefits .screen-img {
	display: block;
	position: relative;
	margin: 25px 0 0 180px;
}
#benefits .item-list {
	position: relative;
	margin-top: -12px;
	width: 100%;
}
#benefits .item {
	display: inline-block;
	position: relative;
	width: 24%;
	vertical-align: bottom;
}
#benefits .item a {
	display: block;
	color: #979797;
	text-align: center;
}
#benefits .item a:hover {
	text-decoration: none;
	color: #125394;
}
.icon-1-1{
	background-position: -1px -110px ;
	width: 55px;
	height: 55px;
}
.icon-1-2{
	background-position: -58px -110px ;
	width: 59px;
	height: 57px;
}
.icon-1-3{
	background-position: -193px -110px ;
	width: 41px;
	height: 64px;
}
.icon-1-4{
	background-position: -119px -110px ;
	width: 67px;
	height: 63px;
}
#benefits .icon {
	display: block;
	position: relative;
	margin: 0 auto 6px;
} 
#benefits .info {
	position: relative;
	text-align: center;
	display: block;
}
#benefits .title {
	text-align: center;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	border-bottom: 1px dashed;
}
#benefits a:hover .title {border-bottom: none;}
#benefits p {
	position: relative;
	margin: 8px 18px auto;
	font-size: 12px;
	line-height: 14px;
}

#for {
	padding-top: 58px;
	padding-bottom: 60px;
	background-color: #f0f8ff;
}
#for:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background: #cdd4da; /* Old browsers */
	background: -moz-linear-gradient(top,  #cdd4da 0%, #eff7fe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdd4da), color-stop(100%,#eff7fe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdd4da 0%,#eff7fe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdd4da 0%,#eff7fe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdd4da 0%,#eff7fe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cdd4da 0%,#eff7fe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd4da', endColorstr='#eff7fe',GradientType=0 ); /* IE6-9 */
}
#for:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background: #f0f8ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f8ff 0%, #cdd4da 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f8ff), color-stop(100%,#cdd4da)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f8ff 0%,#cdd4da 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f8ff 0%,#cdd4da 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f8ff 0%,#cdd4da 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f8ff 0%,#cdd4da 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#cdd4da',GradientType=0 ); /* IE6-9 */
}
#for .item-list {
	position: relative;
	margin-top: 20px;
	margin-left: -10px;
}
#for .item {
	display: inline-block;
	position: relative;
	margin-left: 10px;
	padding: 9px 12px;
	background: #fff;
	border-right: 1px solid #d3e2ed;
	border-left: 1px solid #d3e2ed;
}
#for .item:before {
	content: '';
	position: absolute;
	top: -6px;
	left: -1px;
	width: 100%;
	height: 6px;
	background: url(../images/border_top_for.png) repeat-x bottom left;
	border-right: 1px solid #d3e2ed;
	border-left: 1px solid #d3e2ed;
}
#for .item:after {
	content: '';
	position: absolute;
	left: -1px;
	bottom: -6px;
	width: 100%;
	height: 6px;
	background: url(../images/border_bottom_for.png) repeat-x bottom left;
	border-right: 1px solid #d3e2ed;
	border-left: 1px solid #d3e2ed;
}
#for .item-wrapper {
	position: relative;
	width: 208px;
	height: 256px;
	background: url(../images/bg-item-for.jpg) no-repeat top left;
	overflow: hidden;
}
#for h3 {
	width: 100%;
}
#for .l2 {
	position: absolute;
	top: 18px;
	left: 0;
}
#for .l3 {
	position: absolute;
	top: 10px;
	left: 0;
}
#for .item-img {
	position: relative;
	margin: 85px auto 0;
}
#for .sprite {
	position: absolute;
	top: 0;
}
#for .item-img span {
	display: block;
	position: absolute;
	top: 40px;
	left: 50%;
	margin-top: -10px;
	margin-left: -10px;
	width: 20px;
	height: 20px;
	background: #fff;
	box-shadow: inset #fff 0 0 40px 10px,
	#fff 0 0 24px 50px;
	opacity: 0.6;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}
.icon-2-1{
	left: 48px;
	background-position: -1px -176px ;
	width: 110px;
	height: 85px;
}
.icon-2-2{
	left: 47px;
	background-position: -113px -176px ;
	width: 113px;
	height: 83px;
}
.icon-2-3{
	left: 50px;
	background-position: -344px -176px ;
	width: 115px;
	height: 82px;
}
.icon-2-4{
	left: 51px;
	background-position: -228px -176px ;
	width: 114px;
	height: 84px;
}
.btn {
	display: inline-block;
	position: absolute;
	bottom: 16px;
	left: 50%;
	margin-left: -65px;
	padding: 0;
	width: 130px;
	height: 35px;
	text-align: center;
	font-size: 14px;
	line-height: 35px;
	font-weight: bold;
	text-shadow: none;
	color: #fff;
	background: #eca020;
	border-bottom: 3px solid #e46b00;
}
.btn:active,
.btn:hover {
	color: #fff;
	background-color: #3d759a;
	border-bottom-color: #305e7c;
}

#auto {
	padding-top: 56px;
	padding-bottom: 18px;
}
#auto .left-side {
	position: relative;
	float: left;
	width: 394px;
}
#auto .left-side p {
	margin-bottom: 18px;
	padding-bottom: 9px;
	/*border-bottom: 1px solid #b5b5b5;*/
}
#auto .right-side {
	position: relative;
	width: 390px;
	margin-left: 540px;
}
#auto .right-side img {
	margin-top: -12px;
}

#projects {
	padding-bottom: 60px;
	background-color: #f0f8ff;
}
#projects:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background: #cdd4da; /* Old browsers */
	background: -moz-linear-gradient(top,  #cdd4da 0%, #eff7fe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdd4da), color-stop(100%,#eff7fe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cdd4da 0%,#eff7fe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cdd4da 0%,#eff7fe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cdd4da 0%,#eff7fe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cdd4da 0%,#eff7fe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdd4da', endColorstr='#eff7fe',GradientType=0 ); /* IE6-9 */
}
.projects-wrapper:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 18px;
	background: #cbcbcb; /* Old browsers */
	background: -moz-linear-gradient(top,  #cbcbcb 0%, #e6e6e6 21%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cbcbcb), color-stop(21%,#e6e6e6), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #cbcbcb 0%,#e6e6e6 21%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #cbcbcb 0%,#e6e6e6 21%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #cbcbcb 0%,#e6e6e6 21%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #cbcbcb 0%,#e6e6e6 21%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbcbcb', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
#projects .container {
	position: relative;
	background: #fff;
}
.projects-wrapper {
	position: relative;
	padding-top: 58px;
	padding-right:  34px;
	padding-bottom: 12px;
	padding-left:  34px;
	margin-right: -34px;
	margin-left: -34px;
	color: rgba(0,0,0, .8);
	background: #fff;	
}

/*.projects-wrapper:before,
.projects-wrapper:after {
 z-index: -1;
 position: absolute;
 content: "";
 bottom: 15px;
 left: 10px;
 width: 50%;
 top: 80%;
 max-width:300px;
 background: rgba(0, 0, 0, 0.7);
 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
}

.projects-wrapper:after {
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 right: 10px;
 left: auto;
}
*/
#projects .item {
	display: inline-block;
	position: relative;
	margin-bottom: 36px;
	vertical-align: top;
}
#projects .icon {
	position: relative;
	float: left;
	border: 1px solid #e1e8ed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

#projects .icon:before,
#projects .icon:after {
 z-index: -1;
 position: absolute;
 content: "";
 bottom: 15px;
 left: 10px;
 width: 50%;
 top: 80%;
 max-width:300px;
 background: rgba(0, 0, 0, 0.7);
 -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
 -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
 box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
 -webkit-transform: rotate(-3deg);
 -moz-transform: rotate(-3deg);
 -o-transform: rotate(-3deg);
 -ms-transform: rotate(-3deg);
 transform: rotate(-3deg);
}

#projects .icon:after {
 -webkit-transform: rotate(3deg);
 -moz-transform: rotate(3deg);
 -o-transform: rotate(3deg);
 -ms-transform: rotate(3deg);
 transform: rotate(3deg);
 right: 10px;
 left: auto;
}

#projects .mask {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5;
}
#projects .icon a {
	display: block;
	position: relative;
	margin: 12px;
	width: 207px;
	height: 139px;
	-webkit-filter: grayscale(100%); 
}
#projects a:hover {
	-webkit-filter: none;
}
#projects .info {
	margin-top: 20px;
	margin-left: 248px;
	width: 238px;
	line-height: 18px;
	color: #464646;
}
#projects .more {
	text-decoration: none;
	border-bottom: 1px dashed;
}
#contacts {
	padding-bottom: 54px;
	background-color: #F0F8FF;
	color: #464646;
}
#contacts:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 14px;
	background: #f0f8ff; /* Old browsers */
	background: -moz-linear-gradient(top,  #f0f8ff 0%, #cdd4da 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f8ff), color-stop(100%,#cdd4da)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f0f8ff 0%,#cdd4da 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f0f8ff 0%,#cdd4da 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f0f8ff 0%,#cdd4da 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f0f8ff 0%,#cdd4da 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f8ff', endColorstr='#cdd4da',GradientType=0 ); /* IE6-9 */
}
#contacts .left-side {
	position: relative;
	float: left;
	width: 478px;
}
#contacts .right-side {
	position: relative;
	margin-left: 490px;
}
.map-block {
	position: relative;
	margin-top: 18px;
	height: 342px;
	border-top: 1px solid #d3e2ed;
	border-bottom: 1px solid #d3e2ed;
}
.map {
	position: absolute;
	top: 0;
	left: 0;
	margin-left: -1600px;
	width: 4000px !important;
	width: 100%;
	height: 318px;
	border-top: 12px solid #fff;
	border-bottom: 12px solid #fff;
}
footer {
	height: 36px;
	background: #fff;
	line-height: 36px;
}








.simple_overlay {
    display:none;
    position: fixed;
    padding: 18px 36px;
    /*width: 100%;*/
    z-index:10000;
    background-color: #fff;
    min-height:200px;
    border: none;
    -moz-box-shadow:0 0 90px 5px #000;
    -webkit-box-shadow: 0 0 90px #000;
    width: 964px;
    max-width: 964px;
    max-height: 65%;
    top: 10%;
    left: 50% !important;
    overflow-y: scroll;
    margin: 0 0 0 -500px;
}
 
/* close button positioned on upper right corner */
.simple_overlay .close {
    background-image: url(../images/close.png);
	position: absolute;
	right: 30px;
	top: 10px;
	cursor: pointer;
	height: 28px;
	width: 28px;
	opacity: 1;
}





.scrollable {
  /* required settings */
  position:relative;
  overflow:hidden;
  width: 660px;
  height:90px;
}
 
/*
root element for scrollable items. Must be absolutely positioned
and it should have a extremely large width to accommodate scrollable
items.  it's enough that you set width and height for the root element
and not for this element.
*/
.scrollable .items {
  /* this cannot be too large */
  width:20000em;
  position:absolute;
}
 
/*
a single item. must be floated in horizontal scrolling.  typically,
this element is the one that *you* will style the most.
*/
.items div {
  float:left;
}


/********/
.btn:hover, .btn:focus, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
	color: #FFF;
	background-color: #3D759A;
	border-bottom-color: #305E7C;
}

#benefits .item a {
	border: none !important;
	outline: none;
}